* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;!important
}
body {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: /*#E4D7BE;*/#FFE7BD;
	color: #4E4848;
}
.top, #top {
	margin: 0 7vw 1.5vh 3vw;
	height: 8.5vh;
	border: 0;
	border-bottom: 2px dotted #FA7FAF;
	outline: none;
	font-size: 2.5vh;
}
.main, #main {
	position: relative;
	padding: .5em;
	border-radius: 3px;
	border: 2px dashed #444;
	margin: 0 1.5vw;
	margin-bottom: 1.618vh;
	height: 74vh;
	overflow: auto;
}
.tool, #tool {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15vh;
	background: #FFE7BD;
	box-shadow: 0 0 5px #000;
	border-radius: 5vw 5vw 0 0;
	border-bottom: 0;
	padding-top: 2px;
	transition: height .618s;
}
.tool > h2, #tool > h2 {
	position: relative;
	text-align: center;
	border-bottom: 2px solid #666;
	font-size: 3vh;
	margin: 0 5vw;
	top: 0;
	left: 0;
	right: 0;
}
.hidden {
	display: none;
}
.tool button, #tool button {
	margin-top: 2px;
	height: 10vh;
	width: 33%;
	border: 2px solid #F7CB7F;
	border-radius: 3vw;
	background: url('');
}
.tool button:active, #tool button:active {
	background: #E1E1E1;
}